@font-face {
  font-family: open-sans-regular;
  src: url("#{$font-family-open-sans}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: open-sans-bold;
  src: url("#{$font-family-open-sans-bold}") format("truetype");
  font-weight: normal;
  font-style: normal;
}
