.mcb-input {

  // Variables
  $input-font-size: 1.063em;
  $input-font-color: #aaa;
  $mcb-date-input-width: 75%;

  & label{
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    color: $input-font-color;
    border-bottom: 1px solid #ddd;
  }

  & + & {
    margin-top: 20px;
  }

  & span.input-label{
    color: $sub-headings-color;
    font-size: $input-label-color;
    font-family: open-sans-bold;
  }

  & input {
    font:{
      size: $input-font-size;
      family: open-sans-regular;
    }
    //color: $input-font-color;

  }

  & input[type="date"] {
    display: inline;
    width: $mcb-date-input-width;
  }

  & span.input-icon{
    float: right;
    padding-right: 10px;
  }
}
