@mixin button-style($bg-color, $border-color, $active-bg-color, $active-border-color, $color) {
  border-color: transparent;//$border-color;
  background-color: $bg-color;
  color: $color;

  // Give desktop users something to play with
  &:hover {
    color: $color;
    text-decoration: none;
  }
  &.active,
  &.activated {
    //border-color: transparent;//$active-border-color;
    background-color: $active-bg-color;
    //box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
  }
}


@mixin button-outline($color, $text-color:"") {
  &.button-outline {
    border-color: $color;
    background: transparent;
    @if $text-color == "" {
      $text-color: $color;
    }
    color: $text-color;
    &.active,
    &.activated {
      background-color: $color;
      box-shadow: none;
      color: #fff;
    }
  }
}
