$font-family-open-sans: "../fonts/OpenSans-Regular.ttf" !default;
$font-family-open-sans-bold: "../fonts/OpenSans-Bold.ttf" !default;

// Colors
$primary: #1A5872;
$primary-border: #1A5872;

$primary-active: #18759a;
$primary-active-border: #18759a;

$sub-headings-color: #5b5c5d;

$input-label-color: #808080;
$input-label-size: 1.250em;

$card-active-color: #F8F5F5;

$activated-color: #ecf7fd;


// Global
$font-weight-bold: bold;

//links
$links-font-size: 0.813em;
$links-font-weight: bold;



//top-tabs
$top-tab-bg-color: white;
$top-tab-height: 40px;
$top-tab-width: 100%;
$top-tab-top: 45px;
$top-tab-bg-color: white;
$top-tab-item-padding: 5px;
$top-tab-font-size: 1em;
$top-tab-font-color: #92B4C6 ;
$top-tab-item-activated: #f8f5f5 ;
$top-tab-item-activated-color: #18759a ;
