$font-family-open-sans: "../fonts/OpenSans-Regular.ttf" !default;

// Colors
$primary: #1A5872;
$primary-border: #1A5872;

$primary-active: #18759a;
$primary-active-border: #18759a;

$sub-headings-color: #5b5c5d;

//links
$links-font-size: 0.813em;
$links-font-weight: bold;



